*.js
!jest.config.js
*.d.ts
node_modules
.ipynb_checkpoints

# CDK asset staging directory
.cdk.staging
cdk.out

# output directories for build artifacts
dist
yarn.lock

# macOS extraneous file
.DS_STORE